{% extends "index.html" %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        {% include "utils/messages.html" %}
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">

                <div class="card-header">
                    User Details
                </div>
                <div class="card-body">
                    <h5 class="card-title">Email: {{ user.email }}</h5>
                    <a href="{% url 'user-update' pk=user.pk %}" class="btn btn-primary">Update</a>
                    <a href="{% url 'user-delete' pk=user.pk %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
