{% extends "index.html" %}

{% block content %}
<div class="text-center">
    {% include "utils/messages.html" %}
</div>
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>File Analysis list</h2>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">File name</th>
                    <th scope="col">User</th>
                    <th scope="col">Sentiment</th>
                    <th scope="col">Categories</th>
                    <th scope="col">Error Sentiment Analyzer</th>
                    <th scope="col">Error Text Classifier</th>
                    <th scope="col">Broad Error</th>
                    <th scope="col">Status</th>
                    <th scope="col">Created at</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for file_analyzer in object_list %}
                <tr>
                    <td>{{ file_analyzer.id }}</td>
                    <td>{{ file_analyzer.file }}</td>
                    <td>{{ file_analyzer.sentiment }}</td>
                    <td>{{ file_analyzer.categories }}</td>
                    <td>{{ file_analyzer.error_analyzer }}</td>
                    <td>{{ file_analyzer.error_classifier }}</td>
                    <td>{{ file_analyzer.error }}</td>
                    <td>{{ file_analyzer.status }}</td>
                    <td>{{ file_analyzer.created_at }}</td>
                    <td>
                        <a href="#" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">No files analyzed.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
