{% extends "index.html" %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        {% include "utils/messages.html" %}
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Confirm Delete
                </div>
                <div class="card-body">
                    <h5 class="card-title">Are you sure you want to delete analysis?</h5>
                    <p>This action cannot be undone</p>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {% if object %}
                            <button type="submit" class="btn btn-danger">Yes, delete the analysis</button>
                            {% endif %}
                            <a href="{% url 'file-analyze-list' object.file.id %}" class="btn btn-secondary">Back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
